{% extends 'job/admin_navigation.html' %}
{% load static %}
{% block body %}







<marquee style="font-family:'Monotype Corsiva' ;font-size:25px; color: darkcolor; backgroung-color:black;font-weight:bold;margin-top:1%">
    Contact US
</marquee>
<hr>
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-sm-6 ">
            <h4 class="text-center">Total Recruiters</h4>
            <p class="text-center">{{rcount}}</p>
        </div>
        <div class="col-sm-6 mydiv">
            <h4 class="text-center">Total Users</h4>
            <p class="text-center">{{scount}}</p>
        </div>
        <
    </div>
</div>



{% endblock body %}


