{% extends 'job/navigation.html' %}
{% load static %}
{% block body %}







<marquee style="font-family:'Monotype Corsiva' ;font-size:25px; color: darkcolor; backgroung-color:black;font-weight:bold;margin-top:1%">
    Contact US
</marquee>
<hr>
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-sm-3 mydiv">
            <h4 class="text-center"> Contact Number</h4>
            <p class="text-center">+91 7231992659</p>
        </div>
        <div class="col-sm-3 mydiv">
            <h4 class="text-center">Email Id</h4>
            <p class="text-center">+91 7231992659</p>
        </div>
        <div class="col-sm-3 mydiv">
            <h4 class="text-center">Address</h4>
            <p class="text-center">+91 7231992659</p>
        </div>
        <div class="col-sm-3 mydiv">
            <h4 class="text-center">Office Timing</h4>
            <p class="text-center">+91 7231992659</p>
        </div>
    </div>
</div>



{% endblock body %}


